In [2]:
import pandas as pd


# read the data. Sort it by column 'address'
df = pd.read_excel('data/bangalore_dispatch_address_finals.xlsx', engine='openpyxl').sort_values(by='address')
print(df)

                                               address     location  \
81   #2733, 16th Cross, 27th Main, Opppsite NIFT Co...          HSR
41   #35/4, 24th main JP Nagar 7th phase, Puttenaha...     JP Nagar
1    1, 24th Main Rd, 1st Phase, Girinagar, KR Layo...     JP Nagar
3    1, 24th Main Rd, 1st Phase, Girinagar, KR Layo...     JP Nagar
78   1, 328, 27th Main, 21st Cross, Sector 2, HSR, ...          HSR
..                                                 ...          ...
25   Someshwara Bhavan, RBI Layout, 7th Phase, Koth...     JP Nagar
207  Srinivasa Nilayam, Site 3, Vidya Vikas School ...          MTH
134  Srinivasan Towers, ESI Hospital Road, Off Doub...  Indiranagar
13   The HHI Select Bengaluru Hotel, 686, 15th Cros...     JP Nagar
203                   Yemalur, Marathahalli, Bangalore          MTH

             AWB               names product_id
81   31316164825          Joe Worley    SKU_110
41   25281194232    Christine Pfeiff    SKU_117
1    73350066683            Jon Hall     SKU_31
3    49726345575        Cora Massart     SKU_23
78   89111417547       Larry Herndon     SKU_48
..           ...                 ...        ...
25   50570222462        Jason Taylor     SKU_95
207  60841023934  Bobbie Scarborough      SKU_3
134  55217454663        Joseph Jones    SKU_142
13   32162999926      Miguel Evanoff     SKU_44
203  12358732625       Annie Farrior    SKU_139

[218 rows x 5 columns]

In [3]:
# List out all the column names
print(df.columns)
# Find how many unqiue 'location' are there
print(df['location'].unique())

Index(['address', 'location', 'AWB', 'names', 'product_id'], dtype='object')
['HSR' 'JP Nagar' 'MTH' 'Indiranagar' 'KR Puram']